@model TSMbank.Models.Customer
@using TSMbank.ViewModels;
@using TSMbank.Models;
@{
    ViewBag.Title = "DetailsPhone";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Phone Details</h2>

<h3>@Model.FullName</h3>

<h4>Contact Phone</h4>
@foreach (var phone in Model.Phones)
{

    <p><label>Country Code</label>: @phone.CountryCode</p>
    <p><label>Phone type</label>: @phone.PhoneType</p>
    <p><label>Phone Number</label>: @phone.PhoneNumber</p><br />
    
}
<div>
    @Html.ActionLink("Back", "Index", "Customers", new { @class = "btn btn-primary" })
</div>
