@model TSMbank.Models.Customer
@using TSMbank.ViewModels;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
@if (Model == null)
{
    <p>Welcome to TSM bank to complete registration please proceed!</p>
    @Html.ActionLink("Continue Registration", "New", "customers", null, new { @class = "btn btn-primary" })
}
else
{
    <table id="customers" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Full Name</th>
                <th>Father's Name</th>
                <th>Accounts</th>
                <th>Address</th>
                <th>Phone Numbers</th>

            </tr>
        </thead>
          <tr>
                <td>@Html.ActionLink(Model.FullName, "Details", "Customers", new { id = Model.Id , detail = "PersonalInfo"}, null)</td>
                <td>@Model.FathersName</td>
                <td>
                    @if (Model.Status == TSMbank.Models.CustomerStatus.Inactive)
                    {
                        <p>Account is not Active yet</p>
                    }
                    else
                    {
                        if (!Model.Accounts.Any())
                        {
                            <p>No related Accounts</p>
                            <p>@Html.ActionLink("Add new account", "New", "BankAccounts", new { customerId = Model.Id }, new { @class = "link-grey" })</p>
                        }
                        else
                        {
                            foreach (var account in Model.Accounts)
                            {
                            <p>@Html.ActionLink(account.IBAN, "Details", "BankAccounts", new { accountNo = account.AccountNumber }, null)</p>

                            }
                            <p>@Html.ActionLink("Add new account", "New", "BankAccounts", new { customerId = Model.Id }, new { @class = "link-grey" })</p>
                        }
                    }
                </td>
                <td>@Html.ActionLink(Model.PrimaryAddress.FullAddress, "Details", "Customers", new { id = Model.Id, detail = "AddressInfo" }, null)</td>
                <td>
                    @foreach (var phone in Model.Phones)
                    {
                        <p>@Html.ActionLink(phone.CallingNumber, "Details", "Customers", new { id = Model.Id, detail = "PhoneInfo" }, null) (@phone.PhoneType)</p>
                    }
                </td>
            </tr>
    </table>
}

