@model IEnumerable<TSMbank.Models.Customer>
@using TSMbank.ViewModels;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
@if (!Model.Any())
{
    <p>We dont have any Customers</p>
}
else
{
    <table id="customers" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Full Name</th>
                <th>Father's Name</th>
                <th>Accounts</th>
                <th>Address</th>
                <th>Phone Numbers</th>

            </tr>
        </thead>
        @foreach (var customer in Model)
        {
            <tr>
                <td>@Html.ActionLink(customer.FullName, "Details", "Customers", new { id = customer.Id }, null)</td>
                <td>@customer.FathersName</td>
                <td>
                    @if (!customer.Accounts.Any())
                    {
                        <p>No related Accounts</p>
                        <p>@Html.ActionLink("Add new account", "New", "BankAccounts", new { customerId = customer.Id }, new { @class = "link-grey" })</p>
                    }
                    else
                    {
                        foreach (var account in customer.Accounts)
                        {
                        <p>@Html.ActionLink(account.IBAN, "Edit", "BankAccounts", new { accountNo = account.AccountNumber }, null)</p>

                        }
                        <p>@Html.ActionLink("Add new account", "New", "BankAccounts", new { customerId = customer.Id }, new { @class = "link-grey" })</p>

                    }
                </td>
                <td>@Html.ActionLink(customer.PrimaryAddress.FullAddress, "Edit", "Customers", new { id = customer.Id, modify = (int)ModificationAction.EditAddresses }, null)</td>
                <td>
                    @foreach (var phone in customer.Phones)
                    {
                        <p>@Html.ActionLink(phone.CallingNumber, "Edit", "Customers", new { id = customer.Id, modify = (int)ModificationAction.EditPhones }, null) (@phone.PhoneType)</p>
                    }
                </td>
            </tr>
        }
    </table>
}
<p>
    @Html.ActionLink("New Customer", "New", "customers", null, new { @class = "btn btn-primary" })
</p>
