@model TSMbank.ViewModels.AccountFormViewModel
@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Title</h2>
<h3>@Model.CustomerFullName</h3>
@using (Html.BeginForm("Save", "Accounts", FormMethod.Post, new { @class = "form-horizontal" }))
{

    @Html.HiddenFor(m => m.Account.CustomerId)
    if (Model.Account.AccountNumber != null)
    {
        <div class="form-group">
            @Html.LabelFor(m => m.Account.AccountNumber, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.Account.AccountNumber, new { @class = "form-control", @readonly = "true" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Account.IBAN, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.Account.IBAN, new { @class = "form-control", @readonly = "true" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Account.OpenedDate, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.Account.OpenedDate, new { @class = "form-control", @readonly = "true" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Account.Balance, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.Account.Balance, new { @class = "form-control", @readonly = "true" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Account.AccountStatus, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.Account.AccountStatus, new { @class = "form-control", @readonly = "true" })
            </div>
        </div>
    }
    <div class="form-group">
        @Html.LabelFor(m => m.Account.WithdrawalLimit, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.TextBoxFor(m => m.Account.WithdrawalLimit, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Account.AccountTypeId, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.DropDownListFor(m => m.Account.AccountTypeId, new SelectList(Model.AccountTypes, "Id", "Summary"), "Select Account Type", new { @class = "form-control" })
        </div>
    </div>
    <ul id="accountTypeInfo"></ul>
    <button type="submit" class="btn btn-primary">Save</button>
}

@section scripts
{
    <script>

        $(document).ready(function () {

            let accountTypeInfoUl = $('#accountTypeInfo');
            $('#Account_AccountTypeId').on('change', function () {
                accountTypeInfoUl.empty();
                if (this.value !== "") {
                    $.ajax({
                        url: '/api/accountTypes/' + this.value,
                        method: "GET",
                        datatype: "json",
                        success: function (data) {
                            accountTypeInfoUl.append("<li>Interest Rate: " + data.interestRate + "</li>");
                            accountTypeInfoUl.append("<li>Periodic Fee: " + data.periodicFee + "</li>");
                        }
                    })
                }
            });
        });
    </script>
}
