@model TSMbank.ViewModels.CardReqViewModel
@using TSMbank.Models;
@{
    ViewBag.Title = "CreditCard";
}



<h2>TSM Visa Silver</h2>

<div id="basic1" class="jumbotron u-margin-top-small container-fluid">
    <h3>Learn about about our new CreditCard</h3>
    <p>
        Velit mollis odio sollicitudin lacinia aliquam posuere, sapien elementum lobortis tincidunt, turpis dui ornare nisl,
        sollicitudin interdum turpis nunc eget sem nulla eu ultricies orci praesent id augue nec lorem pretium congue sit amet
        ac nunc fusce iaculis lorem eu diam hendrerit at mattis purus dignissim vivamus mauris tellus, fringilla vel dapibus a,
        blandit quis erat vivamus elementum aliquam luctus etiam fringilla pretium sem vitae sodales mauris id nulla est praesent
        laoreet, metus vel auctor aliquam, eros purus vulputate leo, eget consequat neque quam id tellus duis ultricies tempor tortor,
        vitae dignissim ligula mattis nec in hac habitasse platea dictumst.
    </p>

    @if (Model.IndividualStatus != IndividualStatus.Active)
    {
        <p>Your account must be active in order to apply for our new credit card.</p>
    }
    else
    {
        <p>Click the button below to apply for our new Credit Card!</p>
        <div>
            <button type="button" id="btnMoreDetails" class="btn btn-primary">More Details</button>
        </div>
    }
</div>

<div id="cardFormContainer" class="jumbotron u-margin-top-small">
    <h3>Apply for TSM Visa Silver</h3>
    <p>Please set your preferred Credit Limit and maximun Amount per Transaction. Then click the following button to submit your request</p>
    <form id="petitionForm" action="/Cards/CreateCardReq" method="post">
        @Html.Hidden("isModelStateValid", ViewData.ModelState.IsValid)
        @Html.HiddenFor(m => m.CardType)
        @Html.HiddenFor(m => m.IndividualStatus)
        <div class="form-group">
            @Html.LabelFor(m => m.CreditLimit)
            @Html.TextBoxFor(m => m.CreditLimit, new { @class = "form-control", id = "credit" })
            @Html.ValidationMessageFor(m => m.CreditLimit)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.TransactionAmountLimit)
            @Html.TextBoxFor(m => m.TransactionAmountLimit, new { @class = "form-control", id = "transaction" })
            @Html.ValidationMessageFor(m => m.TransactionAmountLimit)
        </div>
        @*<button type="submit" class="btn btn-default">Submit</button>*@
        <button id="btnSubmit" class="btn btn-primary" value="Account Petition">Submit</button>
    </form>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {

            var viewModel = {};
            var form = $("#cardFormContainer");
            var btnDetails = $("#btnMoreDetails");
            var isModelStateValid = $("#isModelStateValid");

            @*$.ajax({
                url: '/api/bankaccounttypes?description=1',
                method: 'GET',
                success: function (data) {
                    dataType: 'json',
                    data.forEach(t => accountTypes.push(t));
                    basicAccId = accountTypes.find(t => t.id == @BankAccountType.SavingsBasic).id;
                    premiumAccId = accountTypes.find(t => t.id == @BankAccountType.SavingsPremium).id;
                }
            });*@
            
            if (isModelStateValid.val() === "False") {
                form.show();
                btnDetails.text("Hide Details");
            }

            
            btnDetails.on("click", function () {
                if (form.is(":hidden")) {
                    form.fadeIn();
                    btnDetails.text("Hide Details");
                }
                else {
                    form.fadeOut();
                    btnDetails.text("More Details");
                }
            });

            $('#btnSubmit').click(function (e) {
                e.preventDefault();
                viewModel.accountType = "Credit Card";
                viewModel.creditLimit = $("#credit").val();
                viewModel.transactionAmountLimit = $("#transaction").val();

                messageInfo = `<p>Please confirm the following information regarding the credit card petition.</p>
                            <label>Card Petition:&nbsp;</label><span>${viewModel.accountType}</span> <br/>
                             <label>With Credit Limit:&nbsp;</label><span>${viewModel.creditLimit}</span> <br/>
                             <label>And Transaction Amount Limit:&nbsp;</label><span>${viewModel.transactionAmountLimit}</span>`;

                titleInfo = "Confirm Petition";

                var dialog = bootbox.dialog({
                    title: titleInfo,
                    message: messageInfo,
                    size: "large",
                    buttons: {
                        no: {
                            label: "No",
                            className: "btn-default",
                            callback: function () {
                                bootbox.hideAll();
                            }
                        },
                        yes: {
                            label: "Yes",
                            className: "btn-danger",
                            callback: function () {
                                $('#petitionForm').submit();
                            }
                        }
                    }
                });

            });




        });
    </script>


}
