@model TSMbank.Models.Individual
@using TSMbank.ViewModels;
@using TSMbank.Models;
@{
    ViewBag.Title = "DetailsPhone";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Phone Details</h2>
<h3>@Model.FullName</h3>
<h4>Contact Phone</h4>
@foreach (var phone in Model.Phones)
{
    <p><label>Country Code</label>: @phone.CountryCode</p>
    <p><label>Phone type</label>: @phone.PhoneType</p>
    <p><label>Phone Number</label>: @phone.PhoneNumber</p><br />
}
<div>
    <p>@Html.ActionLink("Back", "Index", "Individuals", new { @class = "btn btn-primary" })</p>
    @if (Model.Phones.Count() < 5)
    {
       @Html.ActionLink("Edit or Add a new phone ", "Edit", "Individuals", new { id = Model.Id, modify = ModificationAction.EditPhones }, new { @class = "btn btn-primary" })
    }

</div>


