@model IEnumerable<TSMbank.Models.Individual>
@using TSMbank.Models

@{
    ViewBag.Title = "GetIndividuals";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Customers</h2>
@{int i = 0;}
@if (!Model.Any())
{
    <p>We dont have any Customers</p>
}
else
{

    foreach (var individual in Model)
    {
        <div class="panel-group" id="accordion_@i">
            <div class="panel panel-default" id="panel_@i">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-target="#collapseOne_@i" href="#collapseOne_@i">
                            @Html.DisplayFor(m => individual.FullName)
                        </a><span id="admincollapseFathersName">Fathers name: @Html.DisplayFor(m => individual.FathersName)</span>
                        <span id="admincollapseDateCreated">Account Created: @Html.DisplayFor(m => individual.CreatedDate)</span>
                    </h4>
                </div>
                <div id="collapseOne_@i" class="panel-collapse collapse">
                    <div class="panel-body">
                        <table id="customers" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Full Name</th>
                                    <th>Father's Name</th>
                                    <th>Accounts</th>
                                    <th>Address</th>
                                    <th>Phone Numbers</th>

                                </tr>
                            </thead>

                            <tr>
                                <td>@Html.ActionLink(individual.FullName, "Edit", "Individuals", new { id = individual.Id, modify = ModificationAction.EditIndividual }, null)</td>
                                <td>@individual.FathersName</td>
                                <td>
                                    @if (!individual.BankAccounts.Any())
                                    {
                                        <p>No related Accounts</p>
                                        <p>@Html.ActionLink("Add new account", "New", "BankAccounts", new { individualId = individual.Id }, new { @class = "link-grey" })</p>
                                    }
                                    else
                                    {
                                        foreach (var account in individual.BankAccounts)
                                        {
                                            <p>@Html.ActionLink(account.IBAN, "Edit", "BankAccounts", new { accountNo = account.AccountNumber }, null)</p>

                                        }
                                        <p>@Html.ActionLink("Add new account", "New", "BankAccounts", new { individualId = individual.Id }, new { @class = "link-grey" })</p>

                                    }
                                </td>
                                <td>@Html.ActionLink(individual.PrimaryAddress.FullAddress, "Edit", "Individuals", new { id = individual.Id, modify = ModificationAction.EditAddresses }, null)</td>
                                <td>
                                    @foreach (var phone in individual.Phones)
                                    {
                                        <p>@Html.ActionLink(phone.CallingNumber, "Edit", "Individuals", new { id = individual.Id, modify = ModificationAction.EditPhones }, null) (@phone.PhoneType)</p>
                                    }
                                </td>
                            </tr>

                        </table>
                    </div>
                </div>
            </div>
        </div>
        i++;
    }
}

@section scripts
{
    <script>
        var progress = $.connection.signalHub;
        
        $.connection.hub.start().done(function () {

        });
        progress.client.getRequests = function (request1) {

            toastr.info('New request created by ' + request1.Name + ' for a ' + request1.Type);
            console.log(request1);
        };
        progress.client.getAccRequests = function (request2) {
            
            toastr.info('New request created by ' + request2.Name + " for a " + request2.Type);
            console.log(request2);
        };

    </script>
}