@model TSMbank.Models.Individual
@using TSMbank.ViewModels;
@using TSMbank.Models;

@{
    ViewBag.Title = "Index";
    if (Model == null && User.IsInRole(RoleName.Customer))
    {
        Layout = "~/Views/Individuals/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<h2>Customers</h2>
@if (Model == null)
{
    <p>Welcome to TSM bank to complete registration please proceed!</p>
    @Html.ActionLink("Continue Registration", "New", "Individuals", null, new { @class = "btn btn-primary" })
}
else
{
    var checkingOrSavingsAccounts = Model.BankAccounts.Where(ba => ba.BankAccountType.Description == Description.Checking
        || ba.BankAccountType.Description == Description.Savings);
    var cards = Model.BankAccounts.Where(ba => ba.BankAccountType.Description == Description.CreditCard
        || ba.BankAccountType.Description == Description.Checking).Select(ba => ba.Card);
    <table id="customers" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Full Name</th>
                <th>Father's Name</th>
                <th>Address</th>
                <th>Phone Numbers</th>
                <th>Account Status</th>

            </tr>
        </thead>
        <tr class="blackLetters">
            <td>@Html.ActionLink(Model.FullName, "Details", "Individuals", new { id = Model.Id, detail = "PersonalInfo" }, null)</td>
            <td>@Model.FathersName</td>
            <td>@Html.ActionLink(Model.PrimaryAddress.FullAddress, "Details", "Individuals", new { id = Model.Id, detail = "AddressInfo" }, null)</td>
            <td>
                @foreach (var phone in Model.Phones)
                {
                    <p>@Html.ActionLink(phone.CallingNumber, "Details", "Individuals", new { id = Model.Id, detail = "PhoneInfo" }, null) (@phone.PhoneType)</p>
                }
            </td>
            <td>
                <b>@Model.Status</b>
            </td>
        </tr>
    </table>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Bank Accounts
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body a">

                    @if (Model.Status == TSMbank.Models.IndividualStatus.Inactive)
                    {
                        <p>Your customer account is not active.</p>
                    }
                    else if (!checkingOrSavingsAccounts.Any())
                    {
                        <p>There are no active bank accounts.</p>
                    }
                    else
                    {
                        foreach (var account in checkingOrSavingsAccounts)
                        {

                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="heading">
                                        <h4 class="panel-title">
                                            @account.BankAccountType.Summary &nbsp;
                                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                (@account.IBAN)
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                        <div id="submenu" class="panel-body">
                                            <p>
                                                <label class="firstLabel">Account number :@Html.ActionLink(account.AccountNumber, "Details", "BankAccounts", new { accountNumber = account.AccountNumber }, null)</label>
                                                <span><label class="secondLabel">Balance : @account.Balance Eur</label></span>

                                                <span><label class="thirdLabel">NickName : @account.NickName</label></span>

                                            </p>
                                            @Html.Partial("_navBarMini", account)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        My Cards
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                    @if (Model.Status == TSMbank.Models.IndividualStatus.Inactive)
                    {
                        <p>Your customer account is not active.</p>
                    }
                    else if (!cards.Any())
                    {
                        <p>There are no active cards.</p>
                    }
                    else
                    {
                        foreach (var card in cards)
                        {
                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="heading">
                                        <h4 class="panel-title">
                                            @card.Description() &nbsp;
                                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                (@card.FormattedNumber())
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                        <div class="panel-body">
                                            <p>
                                                <div><label>Card Number:</label><a href="/cards/carddetails/@card.Id">@card.FormattedNumber()</a></div>
                                                <div>
                                                    @if (card.Type == CardType.CreditCard)
                                                    {
                                                        <label>Balance:</label><span>@card.BankAccount.Balance Eur</span>
                                                    }
                                                    else if (card.Type == CardType.DebitCard)
                                                    {
                                                        <label>Associated Account:</label><span>@card.BankAccount.BankAccountType.Summary (@card.BankAccount.IBAN)</span>
                                                    }
                                                </div>
                                            </p>
                                            @*@Html.Partial("_navBarMini", account)*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Loans
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                    No Loans.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Investments
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    No Investments.
                </div>
            </div>
        </div>
    </div>
}

@if (Model != null)
{
    @section scripts
    {
        <script>

        var modelid = '@Model.Id';
        let path = `/individuals/ActivateAccount/${modelid}`;
        $(document).ready(function () {
            $(".panel-heading").parent('.panel').hover(function () {
                $(this).children('.collapse').collapse('show');
            },
                function () {
                    $(this).children('.collapse').collapse('hide');
                }
            );
            //document.getElementById("change-individual-status").addEventListener("click", function () {
            //    var r = confirm("Are you sure you want to change the status of your Account?")

            //    if (r == true) {
            //        window.location.href = path;
            //    } else {
            //        let txt = "Account is not Active!";
            //    }
            //});
        });

            

            function b() {
                console.log(myVar);
                //var myVar;
                //console.log(myVar);
            }

            function a() {
                var myVar = 2;
                console.log(myVar);
                b();
            }

            var myVar = 1;
            //console.log(myVar);
            a();
        </script>

    }

}

