@model TSMbank.ViewModels.TransactionViewModel
@using TSMbank.Models
@{
    /**/

    ViewBag.Title = "Deposit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>I wish to transfer money</h2>

@using (Html.BeginForm("TransferToAccount", "Transactions", Model.Category = TransactionCategory.Deposit))
{

    <div class="form-group">
        @Html.Label("From Account")
        @Html.DropDownListFor(m => m.BankAccountId, new SelectList(Model.BankAccounts, "AccountNumber", "IBAN"), "Select IBAN", new { @class = "form-control" })
    </div>
    <div class="form-group">

        @Html.Label("Ammount")
        @Html.TextBoxFor(m => m.Amount, new { @class = "form-control" })
    </div>
    @Html.Label("To Account")
    <div class="form-group form-inline">
        @Html.Label("IBAN", new { @class = "control-label" })
        @Html.TextBoxFor(m => m.CreditIBAN, new { @maxlength = "26", @class = "form-control", @style = "text-transform:uppercase;width:260px" })
    </div>
    <div class="form-group form-inline">
        <p>@Html.Label("OR")</p>
        @Html.Label("Account Number", new { @class = "control-label" })
        @Html.TextBoxFor(m => m.CreditAccount, new { @maxlength = "16", @class = "form-control", style = "width:160px" })
    </div>



    <button type="submit" class="btn btn-primary">Save</button>
}
