@model TSMbank.ViewModels.TransactionsDetailsViewModel
@{
    /**/

    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@foreach (var transaction in Model.Transactions)
{
    <h2>@transaction.ValueDateTime</h2>
    if (Model.AccountNumber == transaction.CreditAccountNo)
    {
        <p><label>From my Account</label>: @transaction.CreditIBAN </p>
        <p><label>Amount</label>: @transaction.CreditAmount</p>
        <p><label>balance</label>: @transaction.CreditAccountBalanceAfterTransaction</p>
        <p><label>To Account</label>: @transaction.DebitIBAN</p>
    }
    else
    {
        <p><label>From Account</label>: @transaction.CreditIBAN </p>
        <p><label>Amount</label>: @transaction.CreditAmount</p>
        <p><label>balance</label>: @transaction.DebitAccountBalanceAfterTransaction</p>
        <p><label>To My Account</label>: @transaction.DebitIBAN</p>
    }
}
<p>
    @Html.ActionLink("back", "Index", "Individuals", null, new { @class = "btn btn-primary" })
</p>



