@model IEnumerable<TSMbank.Models.Transaction>
@{
    ViewBag.Title = "GetTransactions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Bank Transactions</h2>
<table id="transactions" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Time</th>
            <th>Date</th>
            <th>Transfered From</th>
            <th>Transfered To</th>
            <th>Amount</th>
        </tr>
    </thead>
    <thead id="transactionsId"></thead>
    @foreach (var trans in Model)
    {
        <tr class="blackLetters">
            <td> @trans.ValueDateTime.ToLongTimeString()</td>
            <td> @trans.ValueDateTime.ToLongDateString()</td>
            <td> @trans.DebitIBAN</td>
            <td> @trans.CreditIBAN</td>
            <td> @trans.CreditAmount</td>
        </tr>
    }
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            $('#transactions').DataTable({
                columnDefs: [{
                    
                    
                    targets: [0],
                    orderData: [1, 1]
                    },
                    {
                    targets: [1],
                    orderData: [0, 1]
                 }]
                
            });

        })

        var progress = $.connection.signalHub;

        $.connection.hub.start().done(function () {
        });
        progress.client.showTransactions = function (request) {
            let row = '<tr><td>'
                    + request.Time + '</td><td>'
                    + request.Date + '</td> <td>'
                    + request.DebitAccountNo + '</td><td>'
                    + request.CreditAccountNo + '</td><td>'
                    + request.DebitAmount + '</td></tr>';           
             
            $("#transactionsId").prepend(row)
        };
        progress.client.getRequests = function (request1) {

            toastr.info('New request created by ' + request1.Name + ' for a ' + request1.Type);
            console.log(request1);
        };
        progress.client.getAccRequests = function (request2) {

            toastr.info('New request created by ' + request2.Name + " for a " + request2.Type);
            console.log(request2);
        };
    </script>

}