@model TSMbank.ViewModels.TransactionsDetailsViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Transactions</h2>

@if (Model == null)
{
    <label>No transactions yet</label>
}
else
{
    
    <table id="transactions" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Time</th>
                <th>Date</th>
                <th>Account</th>
                <th>Amount</th>
                <th>Balance</th>
            </tr>
        </thead>
        <thead id="transactionsId"></thead>
        @foreach (var trans in Model.Transactions)
        {

         <tr class="blackLetters">
            <td> @trans.ValueDateTime.ToLongTimeString()</td>
            <td>@Html.ActionLink(trans.ValueDateTime.ToLongDateString(), "Details", "Transactions", new { id = trans.TransactionId, accountNumber = Model.AccountNumber }, null)</td>
            @if (Model.AccountNumber == trans.CreditAccountNo)
            {
                <td><label>Transfered From </label>: @trans.DebitIBAN</td>
                <td> @trans.CreditAmount</td>
                <td> @trans.CreditAccountBalanceAfterTransaction</td>
            }
            else
            {
                <td><label>Transfered To </label>: @trans.CreditIBAN</td>
                <td> - @trans.CreditAmount</td>
                <td> @trans.DebitAccountBalanceAfterTransaction</td>
            }
        </tr>
        }
    </table>

}
<p>
    @Html.ActionLink("back", "Index", "Individuals", null, new { @class = "btn btn-primary" })
</p>

@section scripts
{
    <script>
       
        $(document).ready(function () {
            $('#transactions').DataTable({
                columnDefs: [{
                    targets: [0],
                    orderData: [1, 1]
                }, {
                    targets: [1],
                    orderData: [1, 0]
                    }]
                
           
            });

        });

        var progress = $.connection.signalHub;
        $.connection.hub.start().done(function () {
        });
        @*progress.client.showTransactions = function (trans) {
                       let priAccNumber = @Model.AccountNumber; 
            
            let row;
            if (priAccNumber === trans.CreditAccountNo) {
                row = '<tr><td>' + trans.Time + '</td><td>'
                    + trans.Date + '</td> <td><label>Transfered From </label>:'
                    + trans.DebitAccountNo + '</td><td>'
                    + trans.DebitAmount + '</td><td>'
                    + trans.CreditBalance + '</td></tr>';
            }
            else {
                row = '<tr><td>' + trans.Time + '</td><td>'
                    + trans.Date + '</td> <td><label>Transfered To</label>:'
                    + trans.CreditAccountNo + '</td><td>'
                    +'-'+ trans.DebitAmount + '</td><td>'
                    + trans.DebitBalance + '</td></tr>';
            }     
            
            $("#transactionsId").prepend(row);          
            };*@

    </script>
}
       