@model TSMbank.ViewModels.TransactionsDetailsViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Transactions</h2>

@if (Model == null)
{
    <label>No transactions yet</label>
}
else
{
    <table id="transactions" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Date</th>
                <th>Account</th>
                <th>Amount</th>
                <th>Balance</th>
            </tr>
        </thead>
        @foreach (var trans in Model.Transactions)
            {
                <tr>
                    <td>@Html.ActionLink(trans.ValueDateTime.ToLongDateString(), "Details", "Transactions", new { id = trans.TransactionId, accountNumber = Model.AccountNumber }, null)</td>
                    @if (Model.AccountNumber == trans.CreditAccountNo)
                    {
                        <td><label>Transfered From </label>: @trans.DebitIBAN</td>
                        <td> @trans.CreditAmount</td>
                        <td> @trans.CreditAccountBalanceAfterTransaction</td>

                    }
                    else
                    {
                        <td><label>Transfered To </label>: @trans.CreditIBAN</td>
                        <td> - @trans.CreditAmount</td>
                        <td> @trans.DebitAccountBalanceAfterTransaction</td>
                    }
                </tr>
            }
    </table>

}
<p>
    @Html.ActionLink("Back", "Index", "Individuals", null, new { @class = "btn btn-primary" })
</p>

@section scripts
    {
    <script>
        $(document).ready(function () {
            let table = $("#transactions").DataTable();
            //{
            //    ajax: {
            //        url: "/api/transactions",
            //        dataSrc: ""
            //    },
            //    columns: [
            //        {
            //            data: "name",
            //            render: function (data, type, transaction) {
            //                return "<a href='/viewers/edit/" + viewer.id + "'>" + viewer.name + "</a>";
            //                return "<p>'t' </p>";
            //            }
            //        },
            //        {
            //            data: "transaction.amount"
            //        },
            //        {
            //            data: "id",
            //            render: function (data) {
            //                return "<button class='btn-link js-delete' data-viewer-id=" + data + ">Delete</button>";
            //            }
            //        }

            //    ]
            //});

            //$("#viewers").on("click", ".js-delete", function () {
            //    let button = $(this);

            //    bootbox.confirm("Do you want to delete me?", function (result) {
            //        if (result) {
            //            $.ajax({
            //                url: "/api/viewers/" + button.attr("data-viewer-id"),
            //                method: "DELETE",
            //                success: function () {
            //                    table.row(button.parents("tr")).remove().draw();

            //                }
            //            });

            //        }
            //    });


            //});
        });
    </script>
}

