@model TSMbank.ViewModels.TransactionsDetailsViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Transactions</h2>

@if (Model == null)
{
    <label>No transactions yet</label>
}
else
{
    <table id="transactions" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Date</th>
                <th>Account</th>
                <th>Amount</th>
                <th>Balance</th>
            </tr>
        </thead>
        @foreach (var trans in Model.Transactions)
        {
            <tr>
                <td>@Html.ActionLink(trans.ValueDateTime.ToLongDateString(), "Details", "Transactions", new { id = trans.TransactionId, accountNumber = Model.AccountNumber }, null)</td>
                @if (Model.AccountNumber == trans.CreditAccountNo)
                {
                    <td><label>Transfered To </label>: @trans.DebitIBAN</td>
                    <td>- @trans.CreditAmount</td>
                    <td> @trans.CreditAccountBalanceAfterTransaction</td>

                }
                else
                {
                    <td><label>Transfered From </label>: @trans.CreditIBAN</td>
                    <td> @trans.CreditAmount</td>
                    <td> @trans.DebitAccountBalanceAfterTransaction</td>
                }
            </tr>
        }
    </table>

}
<p>
    @Html.ActionLink("back", "Index", "Customers", null, new { @class = "btn btn-primary" })
</p>


