@model TSMbank.ViewModels.PaymentViewFormModel
@using TSMbank.Models
@{
    ViewBag.Title = "MakePayment";
}

<h2>Make a Payment</h2>

@using (Html.BeginForm("MakePayment", "Transactions", Model.Category = TransactionCategory.Payment))
{
    <div class="form-group">
        @Html.Label("From Account")
        @Html.DropDownListFor(m => m.BankAccountId, new SelectList(Model.BankAccounts, "AccountNumber", "IBAN"), "Select IBAN", new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.Label("Ammount")
        @Html.TextBoxFor(m => m.Amount, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.Label("Online Payment Code")
        @Html.TextBoxFor(m => m.Comments, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.Label("Comments")
        @Html.TextAreaFor(m => m.Comments, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.Label("Public Service")
        @Html.DropDownListFor(m => m.PublicServiceType, new SelectList(Model.BankAccounts, "AccountNumber", "IBAN"), "Select Service", new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Save</button>

}