@model TSMbank.ViewModels.TransferMoneyViewModel
@using TSMbank.Models
@{
    /**/



    ViewBag.Title = "Deposit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Transfer Money</h2>

@using (Html.BeginForm("TransferMoney", "Transactions", FormMethod.Post, new { id = "trasferMoneyForm" }))
{
    @Html.HiddenFor(m => m.TransactionCategory, new { id = "transCategory" })
    <div class="form-group">
        <h3>From Account</h3>
        @*@Html.Label("From Account")*@
        @Html.DropDownListFor(m => m.DebitAccNo, new SelectList(Model.CustomerBankAccs, "AccountNumber", "IBAN"), "Select Account", new { @class = "form-control", id = "debitAcc" })

        @Html.ValidationMessageFor(m => m.DebitAccNo)

    </div>
    <div class="form-group">
        @Html.Label("Amount")
        @Html.TextBoxFor(m => m.Amount, new { @class = "form-control", id = "amount" })
        @Html.ValidationMessageFor(m => m.Amount)
    </div>
    <h3>To Account</h3>
    @*@Html.Label("To Account")*@
    <div class="form-group">
        @Html.Label("IBAN", new { @class = "control-label" })
        @Html.TextBoxFor(m => m.CreditAccIban, new { @maxlength = "26", @class = "form-control", @style = "text-transform:uppercase;", id = "creditAccIban" })
        @Html.ValidationMessageFor(m => m.CreditAccIban)
    </div>
    <div class="form-group">
        <p>@Html.Label("OR")</p>
        @Html.Label("Account Number", new { @class = "control-label" })
        @Html.TextBoxFor(m => m.CreditAccNo, new { @maxlength = "16", @class = "form-control", id = "creditAccNo" })
        @Html.ValidationMessageFor(m => m.CreditAccNo)
    </div>
    <span id="creditAccRequired" class="field-validation-error" style="display:block;"></span>
    if (Model.ErrorMessage != null)
    {
        <div class="alert alert-danger" style="width:50%">@Model.ErrorMessage</div>
    }
    @*<button id="skata" type="submit" class="btn btn-primary">Submit</button>*@
    <a title="Submit" id="btnSubmit" class="btn btn-primary">Submit</a>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            var viewModel = {};
            var creditAccAlias;
            
            $("#creditAccIban").change(function () {
                if ($(this).val() == "") {
                    $("#creditAccNo").attr("disabled", false);
                } else {
                    $("#creditAccNo").attr("disabled", true);
                }
            });

            $("#creditAccNo").change(function () {
                if ($(this).val() == "") {
                    $("#creditAccIban").attr("disabled", false);
                } else {
                    $("#creditAccIban").attr("disabled", true);
                }
            });
                       
            $('#btnSubmit').click(function (e) {
                e.preventDefault();
                viewModel.debitAccNo = $("#debitAcc").val();
                viewModel.creditAccNo = $("#creditAccNo").val();
                viewModel.amount = $("#amount").val();
                viewModel.category = $("#transCategory").val();
                creditAccAlias = $("#creditAccNo").val();
                messageInfo = `<label>Debit Account: </label><span>${viewModel.debitAccNo}</span><br/>
                                     <label>Transaction Info: </label><span>Transfer money To ${creditAccAlias}</span><br/>
                                      <label>Amount: </label><span>${viewModel.amount} Eur</span>`;
                titleInfo = "Confirm Payment";

                var dialog = bootbox.dialog({
                    title: titleInfo,
                    message: messageInfo,
                    size: "large",
                    buttons: {
                        no: {
                            label: "No",
                            className: "btn-default",
                            callback: function () {
                                bootbox.hideAll();
                            }
                        },
                        yes: {
                            label: "Yes",
                            className: "btn-danger",
                            callback: function () {
                                $('#trasferMoneyForm').submit();
                            }
                        }
                    }
                });

            });
        });

                 //$.validator.addMethod("creditAccRequired", function () {
                    //    return $('#creditAccIban').val() !== '' || $('#creditAccNo').val() !== '';
                    //}, "You must specify the account the money will be transferred to.");

                    //$("#trasferMoneyForm").validate();

                //function creditAccRequired() {
                //    if ($('#creditAccIban').val() === '' && $('#creditAccNo').val() === '') {
                //        //alert("You must specify the account the money will be transferred to.");
                //        $("#creditAccRequired").text("You must specify the account the money will be transferred to.");
                //        return false;
                //    }
                //    return true;
                //}
    </script>
}