@model IEnumerable<TSMbank.Models.Request>
@using TSMbank.Models
@{
    ViewBag.Title = "GetRequests";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GetRequests</h2>

@if (!Model.Any())
{
    <p>We dont have any Requests</p>
}
else
{
    <table id="customers" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Request ID</th>
                <th>Customer Name</th>
                <th>Request Type</th>
                <th>Submition Date</th>
                <th>Status</th>
                <th>Reject</th>
                <th>Approve</th>

            </tr>
        </thead>
        @foreach (var request in Model)
        {
        <tr>

            <td>@request.Id</td>
            <td>@Html.ActionLink(request.Individual.Individual.FullName, "Details", "Individuals", new { id = request.Individual.Individual.Id }, null)</td>
            <td>@request.Type</td>
            <td>@request.SubmissionDate</td>
            <td>@request.Status</td>
            <td>@Html.ActionLink(" ", "RequestAnswer", "Requests", new { Id = request.Id , requestStatus = RequestStatus.Rejected }, new { @class = "glyphicon glyphicon-remove" })</td>
            <td>@Html.ActionLink(" ", "RequestAnswer", "Requests", null, new { @class = "glyphicon glyphicon-ok green-ok"})</td>
        </tr>
        }
    </table>
}