@model TSMbank.Models.Request
@using  TSMbank.Models
@{
    ViewBag.Title = "UserAccReqDetails";
}

<div class="panel panel-default u-margin-top-small">
    <div class="panel-heading">User Account Activation Request</div>
    <div class="panel-body">
        <p><label>Request id:</label><span>@Model.Id</span></p>
        <p><label>Customer Id:</label><span>@Model.IndividualId</span></p>
        <p><label>Customer Name:</label><span>@Model.Individual.FullName</span></p>
        <p><label>Customer Identification Card Number:</label><span>@Model.Individual.IdentificationCardNo</span></p>
        <p><label>Customer SSN:</label><span>@Model.Individual.SSN</span></p>
        <p><label>Customer Primary Address:</label><span>@Model.Individual.PrimaryAddress.FullAddress</span></p>
        <p><label>Customer Phone Numbers:</label>
           <ul>
               @foreach (var phoneNumber in Model.Individual.Phones)
               {
                   <li>@phoneNumber.CallingNumber (@phoneNumber.PhoneType)</li>
               }
           </ul>

        @Html.ActionLink("Approve", "Handle", "Requests", new { id = Model.Id, requestStatus = RequestStatus.Approved }, new { @class = "btn btn-primary" })
        @Html.ActionLink("Reject", "Handle", "Requests", new { id = Model.Id, requestStatus = RequestStatus.Rejected }, new { @class = "btn btn-primary u-margin-left-small" })
    </div>
</div>